$red: #ed1b24;
$inverse-bg: #222;
$default-bg: #efefef;

.navbar {

  .logo {
    margin-top: 12px;
    margin-right: 20px;
    width: 40px;
  }

  .navbar-nav>.active>a,
  .navbar-nav>li>a {
    padding: 0;
    margin: 15px;
    border-bottom: 2px solid $inverse-bg;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover,
  .navbar-nav>li>a:focus,
  .navbar-nav>li>a:hover {
    color: $red;
    border-bottom: 2px solid $red;
    background-color: transparent;
  }

  .navbar-nav>.active>a {
    background-color: transparent;
  }

}
